<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Database</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<br>
<div>
    <h2>
        Library Database<br> <br>
    </h2>
    <table class="header">
        <tr>
            <th>
                <form action="/">
                    <input type="submit" value="New search">
                </form>
            </th>
            <th>
                <form action="customerRegistration">
                    <input type="submit" value="Register Customer">
                </form>
            </th>
            <th>
                <form action="returnBook">
                    <input type="submit" value="Return book">
                </form>
            </th>
            <th>
                <form action="customers">
                    <input type="submit" value="List customers">
                </form>
            </th>
            <th>
                <form action="upload">
                    <input type="submit" value="Upload Book/Author">
                </form>
            </th>
        </tr>
    </table>

    <hr>
    <h3 th:text=${message}></h3>
    </hr>

    <form action="search">
        <label for="searchedItem">Search for book/author:</label>
        <input type="text" id="searchedItem" name="searchedItem" style="width:80%">
        <input type="submit" value="Search Book/Author"><br><br>
    </form>

    <table>
        <tr>
            <th class="orderId">Order Id</th>
            <th class="title">ISBN Number</th>
            <th class="title">Title</th>
            <th class="genre">Customer ID</th>
            <th class="genre">Customer name</th>
            <th class="action">Action</th>
        </tr>
        <tr th:each="order: ${bookOrders}">
            <td th:text="${order.orderId}"/>
            <td th:text="${order.book.ISBNNumber}"/>
            <td th:text="${order.book.title}"/>
            <td th:text="${order.customer.customerId}"/>
            <td th:text="${order.customer.customerName}"/>
            <td>
                <form action="return">
                    <input type="number" id="isbn" name="isbn" th:value="${order.orderId}" hidden>
                    <input type="submit" value="Return Book">
                </form>
            </td>
        </tr>
    </table>
    <br><br>
</div>
</body>
</html>
